#badge-container {
   position: relative;
   text-align: center;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   gap: 30px;
   padding: 50px;
}

.google img{
   max-width: 100px;
   max-height: 100px;
   padding: 5px;
   border: 1px solid #ffff;
   /* transition-property: all;
   transition-duration: 0.5s;
   transition-delay: 0s;
   transition-timing-function: ease-in; */
}
/* .google img:hover{
   padding: 50px 50px;
} */
.google{
   display: flex;
   text-align: center;
   flex-direction: column;
   /* flex-wrap: wrap; */
   gap: 30px;
   
}
.aws img{
   max-width: 100px;
   max-height: 100px;
   padding-bottom: 10px;
   
}
.aws{
   padding-top: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
h4{
   font-size: small;
}
.aws h4{
   padding-bottom: 20px;
}